[Desktop Entry]
Type=Application
Version=1.0
Name=PopStream
Comment=Control your Stream Deck
Exec=@ROOT@/packaging/popstream
Path=@ROOT@
Icon=@ICON@
Terminal=false
Categories=Utility;Settings;
StartupNotify=false
StartupWMClass=popstream
X-GNOME-Autostart-enabled=true
